.completed {
    background-color: rgba(189, 255, 197, 0.447);
    font-size: large;
    vertical-align: middle !important;
    font-family: 'Oswald', sans-serif;
}

#newTodoInput {
    margin-right: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

tr {
    text-align: center;
}

.taskName{
    font-family: 'Handlee', cursive;
    font-weight: bold;
    font-size: large;
    vertical-align: middle !important;
}

.jumbotron {
    background-color: rgb(58,91,89) !important;
    border-radius: 0 !important;
    color: floralwhite;
}

.lead {
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-family: 'Abril Fatface', cursive;
}

h2 {
    color: rgb(52,58,64);
    font-family: 'Handlee', cursive;

}

body {
    background-image: linear-gradient(to bottom right, rgb(187,213,210), rgb(115, 168, 168)) !important;
    min-height: 100vh;
}

tbody {
    background-color: rgb(240, 240, 240);
}

.strikeThrough {
    text-decoration: line-through !important;
}

button {
    font-family: 'Oswald', sans-serif !important;
}

.checkMark {
    float: left;
    padding-left: 10px;
}